.bg-container {
  display: flex;
  justify-content: space-around;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
}
.login-button {
  background-color: #1565d8;
  color: white;
  border-radius: 15px;
  padding: 5px;
  width: 225px;
  margin: 25px;
}

.input {
  width: 225px;
  padding: 5px;
}

.login-image {
  background-color: #e0eefe;
  min-height: 100vh;
  background-size: cover;
}
